In [4]:
x="hexcod"

In [7]:
y="nepal"

In [8]:
z=x+y

In [11]:
print(z)

hexcodnepal

In [26]:
f_name = input('Enter your first name:')
l_name = input('Enter your last name:')

Enter your first name:sunita
Enter your last name:gautam

In [31]:
print('Your name is'+f_name+' '+l_name)

Your name issunita gautam

In [32]:
num1=int(input('Enter first number:'))
num2=int(input('Enter second number'))

Enter first number:33
Enter second number22

In [33]:
sum1=num1+num2

In [34]:
sum1

55

In [35]:
num=float(input('Enter first number:'))

Enter first number:12.1

In [36]:
num1=float(input('Enter second number:'))

Enter second number:11.1

In [37]:
diff=num-num1

In [38]:
print(diff)

1.0

In [39]:
n=float(input('Enter first number:'))

Enter first number:13.11

In [42]:
n2=float(input('Enter second number:'))

Enter second number:15.3

In [46]:
mula=n*n2

In [51]:
print('The multiply is' ,mul)

The multiply is 234.09000000000003

In [52]:
3/2

1.5

In [53]:
3//2

1

In [54]:
3%2

1