In [1]:
i=1
while i<=10:      #Qn1) 10 natural no using while loop
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
num =12                    # Qn 3) multiplication table
for i in range(1,11):
    print(num,'x',i,'=',num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [4]:
a={1,3,5,7,9,11}
for i in a:             #Qn 4)num display a list using loop
    print(i)
    y=list(a)

1
3
5
7
9
11

In [5]:
a.remove(11)   Qn 6) remove 11 in the list

In [6]:
a

{1, 3, 5, 7, 9}

In [7]:
len(a)         #Qn 5) count the total number

5

In [8]:
for i in range(-10,-1):    #Qn 7) display num from -10 to-1 using for loop
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [9]:
for i in range(1,11):
    print(i**3)               #Qn 14) calculae the cube of all no

1
8
27
64
125
216
343
512
729
1000

In [11]:
n=int(input("enter a num:"))
sum=(n*(n+1))/2                #Qn 15) 
print("the sum is",sum)

enter a num:200
the sum is 20100.0

In [12]:
for i in range(1,7):
    for j in range(1,i):          #patten1
        print(j,end='   ')
    print('\n')

1

1   2

1   2   3

1   2   3   4

1   2   3   4   5

In [14]:
for i in range(1,7):         #patten 3
    for j in range(1,i):
        print('*',end='  ')
    print('\n')

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

In [22]:
x=int(input('Enter a Number:'))      #Qn 2) calculate the sum of all no from 1
sum=0
for i in range(1,x+1):
    sum+=i
print('The sum is',sum)

Enter a Number:50
The sum is 1275

In [4]:
for i in range(1,6):
    for j in range(0,i):          #patten4
        print(i,end='   ')
    print('\n')

1

2   2

3   3   3

4   4   4   4

5   5   5   5   5

In [7]:
row=6
for i in range(1,rows):
    num = 1
    for j in range(rows, o, -1):        #patten7
    if j > i: 
    print(" ",end='  ')
else:
    print(num, end=' ')
num += 1
 print("")

IndentationError: expected an indented block after 'for' statement on line 4 (1539453736.py, line 5)

In [1]:
# Range Qn 9) print prime number....
start=1
end=50
print("Prime numbers between",start,"and",end,"are: ")
for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num,end=' ')

Prime numbers between 1 and 50 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [12]:
l_value = int(input("enter a lower value:"))
U_value = int(input("enter a upper value:"))

enter a lower value:25
enter a upper value:125

In [14]:
for i in range(l_value,U_value+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i,end='    ')

29    31    37    41    43    47    53    59    61    67    71    73    79    83    89    97    101    103    107    109    113

10. Display Fibonacci series up to 10 terms

In [16]:
n=int(input('enter a number of terms:'))

enter a number of terms:20

In [17]:
x,y = 0,1
print(x,y,end=' ')
for i in range(1,n-1):
    nxt = x + y
    print(nxt,end=' ')
    x=y
    y=nxt

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

11. Find the factorial of a given number

In [19]:
num=int(input('Enter a number'))
factorial=1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

Enter a number8
The factorial of 8 is 40320

12. Reverse a given integer number

In [5]:
num = int(input("enter any number:"))
rev_num = 0
while num>0:
    rem = num%10
    rev_num = rev_num*10+rem
    num=num//10
print('rivers number = ',rev_num)

enter any number:12345
rivers number =  54321